<h1>Welcome!</h1>
<p>To get started, you first need to go on <span style="font-weight: 700; text-decoration:underline;">Profile</span> page in order to register yourself in the user database.</p>
<p>Then, you will have to confirm your username to enter your preferences and save them with the <span style="font-weight: 700; text-decoration:underline;">Save</span> button.</p>
<p>Finally, you will be able to see some personalized recipes on the <span style="font-weight: 700; text-decoration:underline;">Recipes</span> page.</p>