<h1>Users :</h1>

<p>Please enter your full name :</p>
<form>
    <input type="text" id="fullname" name="username">
    <input type="submit" value="Submit" onClick="Redirect()">
</form>

<script>
    function Redirect() {
        window.location.href='/';
    }
</script>